
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<h2>صفحه ی کاربران</h2>

<div class="bottommargin-sm">
    <label for="">Tagging Support</label>
    <select class="select-tags form-control" multiple="" tabindex="-1" aria-hidden="true">
        <option >orange</option>
        <option >white</option>
        <option >purple</option>
        <option >red</option>
        <option >blue</option>
        <option >green</option>
    </select>
</div>



