
@{
    ViewBag.Title = "AllowForInterView";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="alert alert-dismissable">

    </div>
    <div class="style-msg2" style="background-color: #EEE;">
        <div class="msgtitle">فعال شدن تاریخ رزرو برای مصاحبه</div>
        <div class="sb-msg">
            <h3>
                اجازه ثبت تاریخ مصاحبه به کاربر مورد نظر داده شد
            </h3>

        </div>
    </div>
</div>
@Html.ActionLink("بازگشت", "Index", null, new { @class = "button button-3d button-rounded button-black " })