
@{
    ViewBag.Title = "ErrorEdit";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}



<div class="form-horizontal">
    <div class="alert alert-dismissable">
       
    </div>
    <div class="style-msg2" style="background-color: #EEE;">
        <div class="msgtitle">عدم اجازه ویرایش اطلاعات</div>
        <div class="sb-msg">
            <h3>  شما دسترسی به ویرایش اطلاعات ندارید برای ویرایش اطلاعات در صورت تایید مدیریت برای شما امکان پذیر می باشد.در صورت لزوم با  مدیریت سایت تماس حاصل فرمایید</h3> 
       
                 </div>
    </div>
</div>